@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}

<h2 class="text-lg font-semibold text-gray-800">Introduction</h2>

<div class="py-2">
  <p class="text-gray-500">
    Alpine.TagHelpers is a collection of ASP.NET Core TagHelpers for Alpine.js.
  </p>
</div>
